<h1>Vendors Show</h1>

<h3><%= @vendor.name %></h3>
<b><p>Contact Name: </b><%= @vendor.contact_name %></p>
<b><p>Contact Phone: </b><%= @vendor.contact_phone %></p>
<b><p>Credit Accepted: </b><%= @vendor.credit_accepted %></p>

<b><p>Description: </b><%= @vendor.description %></p>