<h1>Markets Show</h1>

<h3><%= @market.name %></h3>
<b><p><%= @market.street %></p>
<p><%= @market.city %>, <%= @market.state %></p></b><br>

<h2>Vendors List</h2>
<% @vendors.each do |vendor| %>
  <p><b>Name: <%= link_to "#{vendor.name}", "/vendors/#{vendor.id}" %></b></p>
<% end %>